body{
font-family: Arial, Helvetica, sans-serif;
background:#dcdcdc;
}

.container{
width:700px;
margin:auto;
background:#e6e6e6;
padding:20px;
}

h2{
color:red;
font-size:18px;
margin-top:20px;
}

table{
width:100%;
}

td{
padding:5px;
font-size:14px;
}

td:first-child{
width:220px;
text-align:right;
font-weight:bold;
}

input[type=text],
input[type=email],
select{
width:250px;
padding:3px;
border:1px solid #888;
}

.small{
width:60px;
}

textarea{
width:350px;
border:1px solid #888;
}

.star{
color:red;
}

.buttons{
padding-top:10px;
}
h2{
color:red;
}